.number {
  background: var(--color-grey-light);
}

.number:active {
  background: var(--color-grey-medium);
}

.operator {
  background: var(--color-primary-orange);
  color: var(--color-white);
}

.operator:active {
  background-color: var(--color-primary-orange-dark);
}